
@{
    ViewBag.Title = "Education";
}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Profile/">Student</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="/Profile/" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="/Profile/Bio" class="nav-link">Bio</a></li>
                <li class="nav-item"><a href="/Profile/Education" class="nav-link">Education</a></li>
                <li class="nav-item"><a href="/Profile/Projects" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="/Profile/References" class="nav-link">References</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    
    <ul>
        <li>
            BSc
            <ul>
                <li>XYZ University</li>
                <li>Semister 9</li>
                <li>3.42</li>
            </ul>
        </li>
        <li>
            HSC
            <ul>
                <li>XYZ College</li>
                <li>Dhaka</li>
                <li>5.00</li>
            </ul>
        </li>
        <li>
            SSC
            <ul>
                <li>XYZ School</li>
                <li>Dhaka</li>
                <li>4.67</li>
            </ul>
        </li>
    </ul>
</div>

