
@{
    ViewBag.Title = "References";
}

<div>
    <ol>
        <li>
            Mr XYZ<br>
            ABC Compnay<br>
            CEO
        </li>
        <li>
            Mr OOP<br>
            MNO Compnay<br>
            CEO
        </li>
    </ol>
</div>