
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>
<div class="container">
    <div>
        <h3>Title 4</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita id, voluptates enim blanditiis, placeat possimus libero nihil rerum nobis cum odio veritatis nostrum, doloremque facere provident deleniti reprehenderit voluptatibus temporibus hic quisquam. Sunt quis repudiandae deleniti maiores quae quod debitis molestiae tempora dolor perferendis suscipit quasi modi, assumenda facere consequatur tempore nulla expedita qui, dicta sint vel amet dolore iure! Voluptate, expedita. Ipsum obcaecati, sed sequi magni ratione deleniti facere quam culpa omnis aliquam optio exercitationem sint voluptatibus minima repellat autem, est perspiciatis. Esse distinctio fugiat debitis voluptas consequuntur velit ex at quae dicta, quisquam natus odio tenetur error neque nobis delectus quibusdam necessitatibus dolorem libero accusamus assumenda cupiditate explicabo adipisci deleniti. Expedita quisquam, recusandae magni porro ex mollitia soluta.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero nisi quos pariatur cumque voluptatum accusamus beatae, voluptatem maiores quam dolor eligendi libero fugiat tempore id, quod saepe cupiditate dolore sequi.
    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Project</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
