
@{
    ViewBag.Title = "Education";
}

<div>
    
    <ul>
        <li>
            BSc
            <ul>
                <li>XYZ University</li>
                <li>Semister 9</li>
                <li>3.42</li>
            </ul>
        </li>
        <li>
            HSC
            <ul>
                <li>XYZ College</li>
                <li>Dhaka</li>
                <li>5.00</li>
            </ul>
        </li>
        <li>
            SSC
            <ul>
                <li>XYZ School</li>
                <li>Dhaka</li>
                <li>4.67</li>
            </ul>
        </li>
    </ul>
</div>

