
@{
    ViewBag.Title = "Projects";
}
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>OOP2</td>
                <td>Demo 1</td>
                <td>This is a sample project</td>
            </tr>
            <tr>
                <td>OOP1</td>
                <td>Demo 1</td>
                <td>This is a sample project</td>
            </tr>
            <tr>
                <td>WT</td>
                <td>Demo 1</td>
                <td>This is a sample project</td>
            </tr>
        </tbody>
    </table>
</div>
