@model IEnumerable<InventoryMS.DTOs.CategoryDTO>

@{
    ViewBag.Title = "Customer Dashboard";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h4>Dashboard</h4>
<br />
<a class="btn btn-primary" href="/Customer/showCart">Show Cart</a>
<br /><br />
<form action="/Customer/Logout" method="post">
    <input type="submit" class="btn btn-danger" value="Logout"/>
</form>

<br /><br />
@if (TempData["successAddToCart"] != null && (bool)TempData["successAddToCart"])
{
    <div><span class="text-success">Product Added to the Cart</span></div>
    <br />
    TempData["successAddToCart"] = false;
}
@if (TempData["noItemInCart"] != null && (bool)TempData["noItemInCart"])
{
    <div><span class="text-info">No Item in Cart</span></div>
    <br />
    TempData["noItemInCart"] = false;
}
@if (TempData["successOrder"] != null && (bool)TempData["successOrder"])
{
    <div><span class="text-success">Your order has been placed successfully</span></div>
    <br />
    TempData["successOrder"] = false;
}
<div class="container">
    <div class="form-group">
        <label for="category">Select Product Category:</label>
        <select class="form-control" id="category" onchange="getShowProducts()">
            <option selected value="#">---Select---</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>

    <table class="table">
        <tbody id="productDetails"></tbody>
    </table>
</div>

<script>
    function showProducts() {
        let category = document.getElementById("category").value;
        let productListElement = document.getElementById("productDetails");
        if (category !== "#") {
            let productDetailsTag = "<thead><th>ID</th><th>Name</th><th>Price</th><th></th></thead>";
            productListElement.innerHTML = ""; // Clearing the table before repopulating
            $.ajax({
                url: '/Customer/GetProductsByCategory',
                data: { CtId: category },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    data.forEach(function (product) {
                        productDetailsTag += "<tr><td>" + product.Id + "</td><td>" + product.Name + "</td><td>" + product.Price + "</td><td><a href='/Customer/addToCart/?cartPd=" + product.Id + "&selectedCategory=" + category + "'>Add to Cart</a></td></tr>";
                    });
                    productListElement.innerHTML = productDetailsTag;
                },
                error: function (xhr, status, error) {
                    console.log('Error in fetching data.');
                    console.log('Status: ' + status);
                    console.log('Error: ' + error);
                    console.log('Response: ' + xhr.responseText);
                }
            });
        }
    }
    function getShowProducts() {
        showProducts();
    }
    //showProducts();
    //setInterval(showProducts, 5000); // 5000 milliseconds = 5 seconds

    // Set the selected category when the page is loaded
    let selectedCategory = "@Request.QueryString["selectedCategory"]";
    if (selectedCategory && selectedCategory !== '#') {
        document.getElementById("category").value = selectedCategory;
        showProducts();
    }
</script>

