@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="start">
        <a class="btn btn-dark" href="/Restaurant/Dashboard">Restaurant Authority</a>
        <a class="btn btn-dark" href="/NGO/AdminDashboard">NGO Authority</a>
        <a class="btn btn-dark" href="/NGO/EmployeeDashboard">NGO Employee</a>
    </div>
</main>