@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="start">
        <a class="btn btn-dark" href="/Restaurant/LoginAdmin">Restaurant Authority</a>
        <a class="btn btn-dark" href="/NGO/LoginAdmin">NGO Authority</a>
        <a class="btn btn-dark" href="/NGO/LoginEmployee">NGO Employee</a>
    </div>
</main>